# 빅데이터 분석기사 실기 작업 1유형 연습문제

In [1]:
# 라이브러리 호출
import pandas as pd
import numpy as np

In [2]:
# 71. 대한민국 체력장 데이터
# 전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균 구하기
# 데이터 불러오기
csvFile = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv'
df = pd.read_csv(csvFile)
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13396 entries, 0 to 13395
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   측정나이              13396 non-null  float64
 1   측정회원성별            13396 non-null  object
 2   신장 : cm           13396 non-null  float64
 3   체중 : kg           13396 non-null  float64
 4   체지방율 : %          13396 non-null  float64
 5   이완기혈압(최저) : mmHg  13396 non-null  float64
 6   수축기혈압(최고) : mmHg  13396 non-null  float64
 7   악력D : kg          13396 non-null  float64
 8   앉아윗몸앞으로굽히기 : cm   13396 non-null  float64
 9   교차윗몸일으키기 : 회      13396 non-null  float64
 10  제자리 멀리뛰기 : cm     13396 non-null  float64
 11  등급                13396 non-null  object
dtypes: float64(10), object(2)
memory usage: 1.2+ MB

In [4]:
# 수축기혈압(최고) - 이완기혈압(최저)의 평균
ans = (df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']).mean()
print(ans)

52.19539414750672

In [5]:
# 72. 50~59세의 신장평균 구하기
ans = df[(df['측정나이'] >= 50) & (df['측정나이'] < 60)].iloc[:,2].mean()
print(ans)

164.07490107405314

In [6]:
# 73. 연령대 (20~29 : 20대 …) 별 인원수 구하기
df['연령대'] = df['측정나이'] // 10 * 10
result = df['연령대'].value_counts()
print(result)

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: 연령대, dtype: int64

In [7]:
# 74. 연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현
result = df.groupby(['연령대', '등급'], as_index = False).size()
print(result)

     연령대 등급  size
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

In [8]:
# 75. 남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차) 구하기
ans = abs(df[(df['측정회원성별'] == 'M') & (df['등급'] == 'A')].iloc[:,4].mean() - df[(df['측정회원성별'] == 'M') & (df['등급'] == 'D')].iloc[:,4].mean())
print(ans)

7.932086486137521

In [9]:
# 76. 여성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차) 구하기
ans = abs(df[(df['측정회원성별'] == 'F') & (df['등급'] == 'A')].iloc[:,4].mean() - df[(df['측정회원성별'] == 'F') & (df['등급'] == 'D')].iloc[:,4].mean())
print(ans)

8.31841107075471

In [10]:
# 77. bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. 데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균 구하기
df['bmi'] = df['체중 : kg'] / (df['신장 : cm'] / 100) ** 2
ans = df[df['측정회원성별'] == 'M']['bmi'].mean()
print(ans)

24.46134409819308

In [11]:
# 78. bmi보다 체지방율이 높은 사람들의 체중평균 구하기
ans = df[df['체지방율 : %'] > df['bmi']]['체중 : kg'].mean()
print(ans)

61.7408806392542

In [12]:
# 79. 남성과 여성의 악력 평균의 차이
target = df.groupby('측정회원성별')['악력D : kg'].mean()
ans = target['M'] - target['F']
print(ans)

17.55954185047465

In [13]:
# 80. 남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이
target = df.groupby('측정회원성별')['교차윗몸일으키기 : 회'].mean()
ans = target['M'] - target['F']
print(ans)

14.243156833157627

In [14]:
# 81. 기온 강수량 데이터
# 여름철(6월,7월,8월) 이화동이 수영동보다 높은 기온을 가진 시간대는 몇개인가?
# 데이터 불러오기
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv')
df.head()

                  time  이화동강수  이화동기온  수영동강수  수영동기온
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    8784 non-null   object
 1   이화동강수   8784 non-null   float64
 2   이화동기온   8784 non-null   float64
 3   수영동강수   8784 non-null   float64
 4   수영동기온   8784 non-null   float64
dtypes: float64(4), object(1)
memory usage: 343.2+ KB

In [16]:
# 데이터 타입 변환
df['time'] = pd.to_datetime(df['time'])

# 여름철(6월,7월,8월) 이화동이 수영동보다 높은 기온을 가진 시간대 구하기
summer = df[df['time'].dt.month.isin([6, 7, 8])].reset_index(drop = True)
ans = len(summer[summer['이화동기온'] > summer['수영동기온']])
print(ans)

1415

In [17]:
# 82. 이화동과 수영동의 최대강수량의 시간대를 각각 구하여라
ans1 = df[df['이화동강수'] == df['이화동강수'].max()].time.values
ans2 = df[df['수영동강수'] == df['수영동강수'].max()].time.values
print(ans1, ans2)

['2020-09-30T09:00:00.000000000'] ['2020-07-23T12:00:00.000000000']

In [18]:
# 83. 서비스 이탈예측 데이터
# 남성 이탈(Exited)이 가장 많은 국가(Geography)는 어디이고 이탈 인원은 몇명인가?
# 데이터 불러오기
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        7999 non-null   int64
 1   CustomerId       7999 non-null   int64
 2   Surname          7999 non-null   object
 3   CreditScore      7999 non-null   int64
 4   Geography        7999 non-null   object
 5   Gender           7999 non-null   object
 6   Age              7999 non-null   int64
 7   Tenure           7999 non-null   int64
 8   Balance          7999 non-null   float64
 9   NumOfProducts    7999 non-null   int64
 10  HasCrCard        7999 non-null   int64
 11  IsActiveMember   7999 non-null   int64
 12  EstimatedSalary  7999 non-null   float64
 13  Exited           7999 non-null   int64
dtypes: float64(2), int64(9), object(3)
memory usage: 875.0+ KB

In [20]:
# 조건에 맞는 이탈 인원 구하기
ans = df[df['Gender'] == 'Male'].groupby(['Geography'])['Exited'].sum().sort_values(ascending = False).head(1)
print(ans)

Geography
Germany    287
Name: Exited, dtype: int64

In [21]:
# 84. 카드를 소유(HasCrCard ==1)하고 있으면서 활성멤버(IsActiveMember ==1) 인 고객들의 평균 나이를 소숫점이하 4자리까지 구하여라?
ans = df[(df['HasCrCard'] == 1) & (df['IsActiveMember'] == 1)]['Age'].mean()
print(round(ans, 4))

39.6102

In [22]:
# 85. Balance 값이 중간값 이상을 가지는 고객들의 CreditScore의 표준편차를 소숫점이하 3자리까지 구하여라
ans = df[df['Balance'] >= df['Balance'].median()]['CreditScore'].std()
print(round(ans, 3))

97.295