# 빅데이터 분석기사 실기 작업 1유형을 위한 전처리 복습

* 전처리 복습이므로 시험에서와 같이 정답을 별도의 변수에 저장하고 출력하는 과정은 생략* 
참고 사이트(DataManim): https://www.datamanim.com/dataset/99_pandas/pandasMain.html

In [1]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

In [2]:
# 56. 데이터를 로드하고 데이터 행과 열의 갯수 출력
csvFile = 'C:/Users/chunc/OneDrive/바탕 화면/Python연습/Credit Card/BankChurners.csv'
df = pd.read_csv(csvFile)
df.shape

(10127, 23)

In [3]:
# 57. Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑
# Unknown : N
# Less than $40K : a
# $40K - $60K : b
# $60K - $80K : c
# $80K - $120K : d
# $120K + : e

mydict = {
    'Unknown': 'N',
    'Less than $40K': 'a',
    '$40K - $60K': 'b',
    '$60K - $80K': 'c',
    '$80K - $120K': 'd',
    '$120K +': 'e'
}

df['newIncome'] = df['Income_Category'].map(lambda x: mydict[x])
ans = df['newIncome']
ans.head()

0    c
1    a
2    d
3    a
4    c
Name: newIncome, dtype: object

In [4]:
# 58. Income_Category의 카테고리를 apply 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑
def myFunc(x):
    if x == 'Unknown':
        return 'N'
    elif x == 'Less than $40K':
        return 'a'
    elif x == '$40K - $60K':
        return 'b'
    elif x == '$60K - $80K':
        return 'c'
    elif x == '$80K - $120K':
        return 'd'
    else:
        return 'e'

df['newIncome'] = df['Income_Category'].apply(lambda x: myFunc(x))
# df['newIncome'] = df.Income_Category.apply(changeCategory)
ans = df['newIncome']
ans.head()

0    c
1    a
2    d
3    a
4    c
Name: newIncome, dtype: object

In [5]:
# 59. Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의
# (0~9 : 0 , 10~19 :10 , 20~29 :20 … 각 구간의 빈도수를 출력
df['AgeState'] = df['Customer_Age'].map(lambda x: x // 10 * 10)
ans = df['AgeState'].value_counts().sort_values()
ans

70       2
20     195
60     530
30    1841
50    2998
40    4561
Name: AgeState, dtype: int64

In [6]:
# 60. Education_Level의 값중 Graduate단어가 포함되는 값은 1 그렇지 않은 경우에는 0으로 변경하여 newEduLevel 컬럼을 정의하고 빈도수를 출력
df['newEduLevel'] = df['Education_Level'].map(lambda x: 1 if 'Graduate' in x else 0)
ans = df['newEduLevel'].value_counts()
ans

0    6483
1    3644
Name: newEduLevel, dtype: int64

In [7]:
# 61. Credit_Limit 컬럼값이 4500 이상인 경우 1 그외의 경우에는 모두 0으로 하는 newLimit 정의
# newLimit 각 값들의 빈도수를 출력
df['newLimit'] = df['Credit_Limit'].map(lambda x: 1 if x >= 4500 else 0)
ans = df['newLimit'].value_counts()
ans

1    5096
0    5031
Name: newLimit, dtype: int64

In [8]:
# 62. Marital_Status 컬럼값이 Married 이고 Card_Category 컬럼의 값이 Platinum인 경우 1 그외의 경우에는 모두 0으로 하는 newState컬럼을 정의
# newState의 각 값들의 빈도수를 출력
def myFunc(x):
    if x['Marital_Status'] == 'Married' and x['Card_Category'] == 'Platinum':
        return 1
    else:
        return 0

df['newState'] = df.apply(lambda x: myFunc(x), axis = 1)
ans = df['newState'].value_counts()
ans

0    10120
1        7
Name: newState, dtype: int64

In [9]:
# 63. Gender 컬럼값 M인 경우 male F인 경우 female로 값을 변경하여 Gender 컬럼에 새롭게 정의
# 각 value의 빈도를 출력
def myGender(x):
    if x == 'M':
        return 'male'
    else:
        return 'female'

df['Gender'] = df['Gender'].apply(myGender)
ans = df['Gender'].value_counts()
ans

female    5358
male      4769
Name: Gender, dtype: int64