# 빅데이터 분석기사 실기

## 데이터마님 참고

In [1]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

## 작업형 1유형 연습

In [2]:
# 지역구 에너지 소비량 데이터
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [3]:
# 51. DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라
df['DateTime'] = pd.to_datetime(df['DateTime'])
result = df['DateTime'].dt.month.value_counts().sort_index().to_frame()
print(result)

          count
DateTime
1          4464
2          4032
3          4464
4          4320
5          4464
6          4320
7          4464
8          4464
9          4320
10         4464
11         4320
12         4320

In [4]:
# 52. 3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라
target = df[df['DateTime'].dt.month == 3]
result = target.groupby(target['DateTime'].dt.hour)['Temperature'].mean().sort_values().values[0]
print(result)

11.506612903225806

In [5]:
# 53. 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라
target = df[df['DateTime'].dt.month == 3]
# result = target.groupby(target['DateTime'].dt.hour)['Temperature'].mean().sort_values(ascending = False).values[0]
result = target.groupby(target.DateTime.dt.hour)['Temperature'].mean().sort_values().values[-1]
print(result)

18.393602150537635

In [6]:
# 54. Zone 1 Power Consumption 컬럼의 value값의 크기가 
# Zone 2 Power Consumption 컬럼의 value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라
result = df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']].Humidity.mean()
print(result)

68.23624448055052

In [7]:
# 55. 각 zone의 에너지 소비량의 상관관계를 구해서 데이터 프레임으로 표기하라
result = df.iloc[:, -3:].corr()
display(result)

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

In [8]:
# 56. Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B,20이상 30미만의 경우 C, 
# 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라
def split_data(x):
    if x < 10:
        return 'A'
    elif x < 20:
        return 'B'
    elif x < 30:
        return 'C'
    else:
        return 'D'

df['sp'] = df['Temperature'].apply(split_data)
result = df['sp'].value_counts()
display(result)

sp
B    26993
C    21105
A     2874
D     1444
Name: count, dtype: int64

In [9]:
# 57. 6월 데이터중 12시의 Temperature의 표준편차를 구하여라
result = df[(df['DateTime'].dt.month == 6) & (df['DateTime'].dt.hour == 12)]['Temperature'].std()
print(result)

2.0499417827951025

In [10]:
# 58. 6월 데이터중 12시의 Temperature의 분산을 구하여라
result = df[(df['DateTime'].dt.month == 6) & (df['DateTime'].dt.hour == 12)]['Temperature'].std()
print(result)

2.0499417827951025

In [11]:
# 59. Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때
# 4번째 행의 Humidity 값은?
result = df[df['Temperature'] >= df['Temperature'].mean()].sort_values('Temperature')['Humidity'].values[3]
print(result)

87.9

In [12]:
# 60. Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를Temperature를 기준으로 정렬 했을때 
# 4번째 행의 Humidity 값은?
result = df[df['Temperature'] >= df['Temperature'].median()].sort_values('Temperature')['Humidity'].values[3]
print(result)

80.3

In [13]:
# 포켓몬 정보 데이터
df = pd.read_csv('C:/Users/chunc/Desktop\빅분기 연습/pokemon/pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [14]:
# 61. Legendary 컬럼은 전설포켓몬 유무를 나타낸다. 전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

target = df.groupby('Legendary')['HP'].mean()
result = target.values[1] -target.values[0]
print(result)

25.55614861329147

In [15]:
# 62. Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?
result = df['Type 2'].value_counts().index[0]
print(result)

Flying

In [16]:
# 63. 가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?
Max = df['Type 1'].value_counts().index[0]
result = df[df['Type 1'] == Max]['Attack'].mean() / df[df['Type 1'] == Max]['Defense'].mean()
print(result)

1.0165238678090576

In [17]:
# 64. 포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?
result = df[df['Legendary'] == True]['Generation'].value_counts().index[0]
print(result)

3

In [18]:
# 65.‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 
# 가장 절댓값이 큰 두 변수와 그 값을 구하여라
target = df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack()\
.reset_index().rename(columns = {0: 'corr'})
result = target[target['corr'] != 1].sort_values('corr', ascending = False).iloc[0]
print(result)

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

In [19]:
# 66. 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라
result = df.sort_values(['Generation', 'Attack']).groupby('Generation').head(3)['Attack'].mean()
print(result)

19.5

In [20]:
# 67. 각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라
result = df.sort_values(['Generation', 'Attack'], ascending = False).groupby('Generation').head(5)['Attack'].mean()
print(result)

157.23333333333332

In [21]:
# 68. 가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?
result = df[['Type 1', 'Type 2']].value_counts().head(1)
print(result)

Type 1  Type 2
Normal  Flying    24
Name: count, dtype: int64

In [22]:
# 69. 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?
target = df[['Type 1', 'Type 2']].value_counts()
result = len(target[target == 1])
print(result)

39

In [23]:
# 70. 한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?
target = df[['Type 1', 'Type 2']].value_counts()
target2 = target[target == 1]

lst = []
for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]

    sp = df[(df['Type 1'] == t1) & (df['Type 2'] == t2)]
    lst.append(sp)

result = pd.concat(lst).reset_index(drop = True)['Generation'].value_counts().sort_index()
print(result)

Generation
1     1
2     4
3     5
4    13
5     7
6     9
Name: count, dtype: int64