In [ ]:
# 문제 설명(두 개 뽑아서 더하기)
# 정수 배열 numbers가 주어집니다. numbers에서 서로 다른 인덱스에 있는 두 개의 수를 뽑아 더해서 만들 수 있는 모든 수를 배열에 오름차순으로 담아 return 하도록 solution 함수를 완성해주세요.

# 제한사항
# numbers의 길이는 2 이상 100 이하입니다.
# numbers의 모든 수는 0 이상 100 이하입니다.

In [ ]:
# 문제 요약
# 입력: 정수 배열 numbers (2개 이상)

# 처리:
# 서로 다른 두 숫자 선택
# 그 합을 저장 (중복 없이)
# 오름차순 정렬
# 출력: 정수 리스트

In [ ]:
# sol1
def solution(numbers):
    answer = []
    for i in range(len(numbers)):
        for j in range(i+1, len(numbers)):
            # 합을 리스트에 추가
            answer.append(numbers[i] + numbers[j])
    # 중복 제거 및 정렬
    return sorted(list(set(answer)))

In [ ]:
# sol2
from itertools import combinations
def solution(numbers):
    answer = set()
    # combinations 함수로 numbers에서 2개를 뽑는 모든 조합 생성
    for i in list(combinations(numbers, 2)):
        # 합을 set에 추가
        answer.add(sum(i))
    # 정렬 후 반환
    return sorted(answer)

In [ ]:
# 문제 설명(3진법 뒤집기)
# 자연수 n이 매개변수로 주어집니다. n을 3진법 상에서 앞뒤로 뒤집은 후, 이를 다시 10진법으로 표현한 수를 return 하도록 solution 함수를 완성해주세요.

# 제한사항
# n은 1 이상 100,000,000 이하인 자연수입니다.

In [ ]:
# 문제 요약
# 자연수 n이 주어졌을 때
# n을 3진법으로 변환
# 3진법 숫자를 뒤집은 후
# 다시 10진법으로 변환한 결과를 반환

In [ ]:
# sol1
 solution(n):
    tmp = ''
    while n:
        tmp += str(n % 3)
        n = n // 3

    answer = int(tmp, 3)
    return answer

In [ ]:
# sol2
def solution(n):
    answer = ''
    
    while n > 0:
        # n을 3으로 나눈 몫과 나머지
        # divmod() : 몫과 나머지를 리턴. 리턴 값이 2개이므로 튜플을 사용
        n, re = divmod(n, 3)
        # 3진법으로 변환하면서 동시에 뒤집힌 형태로 저장
        answer += str(re)
    # int(x, base) : base 진법으로 구성된 str 형식의 수를 10진법으로 변환
    return int(answer, 3)

In [ ]:
# 문제 설명(조건별로 분류하여 주문상태 출력하기)
# 문제
# FOOD_ORDER 테이블에서 2022년 5월 1일을 기준으로 주문 ID, 제품 ID, 출고일자, 출고여부를 조회하는 SQL문을 작성해주세요. 출고여부는 2022년 5월 1일까지 출고완료로 이 후 날짜는 출고 대기로 미정이면 출고미정으로 출력해주시고, 결과는 주문 ID를 기준으로 오름차순 정렬해주세요.

# 예시
# FOOD_ORDER 테이블이 다음과 같을 때

# ORDER_ID	PRODUCT_ID	AMOUNT	PRODUCE_DATE	IN_DATE	OUT_DATE	FACTORY_ID	WAREHOUSE_ID
# OD00000051	P0002	4000	2022-04-01	2022-04-21	2022-04-21	FT19970003	WH0005
# OD00000052	P0003	2500	2022-04-10	2022-04-27	2022-04-27	FT19970003	WH0006
# OD00000053	P0005	6200	2022-04-15	2022-04-30	2022-05-01	FT19940003	WH0003
# OD00000054	P0006	1000	2022-04-21	2022-04-30	NULL	FT19940003	WH0009
# OD00000055	P0008	1500	2022-04-25	2022-05-11	2022-05-11	FT19980003	WH0009
# SQL을 실행하면 다음과 같이 출력되어야 합니다.

# ORDER_ID	PRODUCT_ID	OUT_DATE	출고여부
# OD00000051	P0002	2022-04-21	출고완료
# OD00000052	P0003	2022-04-27	출고완료
# OD00000053	P0005	2022-05-01	출고완료
# OD00000054	P0006		출고미정
# OD00000055	P0008	2022-05-11	출고대기

In [ ]:
SELECT ORDER_ID, PRODUCT_ID, DATE_FORMAT(OUT_DATE, '%Y-%m-%d') AS OUT_DATE,
CASE
    WHEN OUT_DATE > '2022-05-01' THEN '출고대기'
    WHEN OUT_DATE <= '2022-05-01' THEN '출고완료'
    ELSE '출고미정'
END AS 출고여부
FROM FOOD_ORDER
ORDER BY ORDER_ID ASC;

In [ ]:
# 문제 설명(가격이 제일 비싼 식품의 정보 출력하기)
# 문제
# FOOD_PRODUCT 테이블에서 가격이 제일 비싼 식품의 식품 ID, 식품 이름, 식품 코드, 식품분류, 식품 가격을 조회하는 SQL문을 작성해주세요.

# 예시
# FOOD_PRODUCT 테이블이 다음과 같을 때

# PRODUCT_ID	PRODUCT_NAME	PRODUCT_CD	CATEGORY	PRICE
# P0018	맛있는고추기름	CD_OL00008	식용유	6100
# P0019	맛있는카놀라유	CD_OL00009	식용유	5100
# P0020	맛있는산초유	CD_OL00010	식용유	6500
# P0021	맛있는케첩	CD_OL00001	소스	4500
# P0022	맛있는마요네즈	CD_OL00002	소스	4700
# SQL을 실행하면 다음과 같이 출력되어야 합니다.

# PRODUCT_ID	PRODUCT_NAME	PRODUCT_CD	CATEGORY	PRICE
# P0020	맛있는산초유	CD_OL00010	식용유	6500

In [ ]:
# sol1(정렬)
SELECT PRODUCT_ID, PRODUCT_NAME, PRODUCT_CD, CATEGORY, PRICE
FROM FOOD_PRODUCT
ORDER BY PRICE DESC
LIMIT 1;

In [ ]:
# sol2(서브쿼리 사용)
SELECT * FROM FOOD_PRODUCT
WHERE PRICE = (SELECT MAX(PRICE) FROM FOOD_PRODUCT);

In [ ]:
# 문제 설명(즐겨찾기가 가장 많은 식당 정보 출력하기)
# 문제
# REST_INFO 테이블에서 음식종류별로 즐겨찾기수가 가장 많은 식당의 음식 종류, ID, 식당 이름, 즐겨찾기수를 조회하는 SQL문을 작성해주세요. 이때 결과는 음식 종류를 기준으로 내림차순 정렬해주세요.

# 예시
# REST_INFO 테이블이 다음과 같을 때

# REST_ID	REST_NAME	FOOD_TYPE	VIEWS	FAVORITES	PARKING_LOT	ADDRESS	TEL
# 00001	은돼지식당	한식	1150345	734	N	서울특별시 중구 다산로 149	010-4484-8751
# 00002	하이가쯔네	일식	120034	112	N	서울시 중구 신당동 375-21	NULL
# 00003	따띠따띠뜨	양식	1234023	102	N	서울시 강남구 신사동 627-3 1F	02-6397-1023
# 00004	스시사카우스	일식	1522074	230	N	서울시 서울시 강남구 신사동 627-27	010-9394-2554
# 00005	코슌스	일식	15301	123	N	서울특별시 강남구 언주로153길	010-1315-8729
# SQL을 실행하면 다음과 같이 출력되어야 합니다.

# FOOD_TYPE	REST_ID	REST_NAME	FAVORITES
# 한식	00001	은돼지식당	734
# 일식	00004	스시사카우스	230
# 양식	00003	따띠따띠뜨	102

In [ ]:
SELECT FOOD_TYPE, REST_ID, REST_NAME, FAVORITES
FROM REST_INFO
# 서브쿼리 사용으로 음식종류별 가장 큰 즐겨찾기 수 구하기
WHERE FAVORITES IN (SELECT MAX(FAVORITES) 
                    FROM REST_INFO 
                    GROUP BY FOOD_TYPE)
GROUP BY FOOD_TYPE
ORDER BY FOOD_TYPE DESC;

In [ ]:
# 문제(카테고리 별 상품 개수 구하기)
# 문제
# PRODUCT 테이블에서 상품 카테고리 코드(PRODUCT_CODE 앞 2자리) 별 상품 개수를 출력하는 SQL문을 작성해주세요. 결과는 상품 카테고리 코드를 기준으로 오름차순 정렬해주세요.

# 예시
# 예를 들어 PRODUCT 테이블이 다음과 같다면

# PRODUCT_ID	PRODUCT_CODE	PRICE
# 1	A1000011	10000
# 2	A1000045	9000
# 3	C3000002	22000
# 4	C3000006	15000
# 5	C3000010	30000
# 6	K1000023	17000
# 상품 카테고리 코드 별 상품은 아래와 같으므로,

# A1: PRODUCT_ID가 1, 2 인 상품
# C3: PRODUCT_ID가 3, 4, 5 인 상품
# K1: PRODUCT_ID가 6 인 상품
# 다음과 같은 결과가 나와야 합니다.

# CATEGORY	PRODUCTS
# A1	2
# C3	3
# K1	1

In [ ]:
SELECT LEFT(PRODUCT_CODE, 2) AS PRODUCTS, COUNT(PRODUCT_ID) AS PRODUCTS
FROM PRODUCT
GROUP BY PRODUCTS
ORDER BY PRODUCTS;

In [ ]:
# 문제 설명(상품 별 오프라인 매출 구하기)
# 문제
# PRODUCT 테이블과 OFFLINE_SALE 테이블에서 상품코드 별 매출액(판매가 * 판매량) 합계를 출력하는 SQL문을 작성해주세요. 결과는 매출액을 기준으로 내림차순 정렬해주시고 매출액이 같다면 상품코드를 기준으로 오름차순 정렬해주세요.

# 예시
# 예를 들어 PRODUCT 테이블이 다음과 같고

# PRODUCT_ID	PRODUCT_CODE	PRICE
# 1	A1000011	15000
# 2	A1000045	8000
# 3	C3000002	42000
# OFFLINE_SALE 테이블이 다음과 같다면

# OFFLINE_SALE_ID	PRODUCT_ID	SALES_AMOUNT	SALES_DATE
# 1	1	2	2022-02-21
# 2	1	2	2022-03-02
# 3	3	3	2022-05-01
# 4	2	1	2022-05-24
# 5	1	2	2022-07-14
# 6	2	1	2022-09-22
# 각 상품 별 총 판매량과 판매가는 다음과 같습니다.

# PRODUCT_CODE 가 A1000011인 상품은 총 판매량이 6개, 판매가가 15,000원
# PRODUCT_CODE 가 A1000045인 상품은 총 판매량이 2개, 판매가가 8,000원
# PRODUCT_CODE 가 C3000002인 상품은 총 판매량이 3개, 판매가가 42,000원
# 그러므로 각 상품 별 매출액을 계산하고 정렬하면 결과가 다음과 같이 나와야 합니다.

# PRODUCT_CODE	SALES
# C3000002	126000
# A1000011	90000
# A1000045	16000

In [ ]:
SELECT A.PRODUCT_CODE, SUM(B.SALES_AMOUNT) * A.PRICE AS SALES
FROM PRODUCT A
INNER JOIN OFFLINE_SALE B
ON A.PRODUCT_ID = B.PRODUCT_ID
GROUP BY A.PRODUCT_CODE
ORDER BY SALES DESC, A.PRODUCT_CODE;

In [ ]:
# 문제 설명(카테고리 별 도서 판매량 집계하기)
# 문제
# 2022년 1월의 카테고리 별 도서 판매량을 합산하고, 카테고리(CATEGORY), 총 판매량(TOTAL_SALES) 리스트를 출력하는 SQL문을 작성해주세요.
# 결과는 카테고리명을 기준으로 오름차순 정렬해주세요.

# 예시
# 예를 들어 BOOK 테이블과 BOOK_SALES 테이블이 다음과 같다면

# BOOK_ID	CATEGORY	AUTHOR_ID	PRICE	PUBLISHED_DATE
# 1	인문	1	10000	2020-01-01
# 2	경제	1	9000	2021-02-05
# 3	경제	2	9000	2021-03-11
# BOOK_ID	SALES_DATE	SALES
# 1	2022-01-01	2
# 2	2022-01-02	3
# 1	2022-01-05	1
# 2	2022-01-20	5
# 2	2022-01-21	6
# 3	2022-01-22	2
# 2	2022-02-11	3
# 2022년 1월의 도서 별 총 판매량은 도서 ID 가 1 인 도서가 총 3권, 도서 ID 가 2 인 도서가 총 14권 이고, 도서 ID 가 3 인 도서가 총 2권 입니다.

# 카테고리 별로 판매량을 집계한 결과는 다음과 같습니다.

# CATEGORY	TOTAL_SALES
# 인문	3
# 경제	16
# 카테고리명을 오름차순으로 정렬하면 다음과 같이 나와야 합니다.

# CATEGORY	TOTAL_SALES
# 경제	16
# 인문	3

In [ ]:
SELECT A.CATEGORY AS CATEGORY, SUM(B.SALES) AS TOTAL_SALES
FROM BOOK A
INNER JOIN BOOK_SALES B
ON A.BOOK_ID = B.BOOK_ID
WHERE B.SALES_DATE LIKE '2022-01%'
GROUP BY CATEGORY
ORDER BY CATEGORY;

In [ ]:
# 문제 설명(자동차 종류 별 특정 옵션이 포함된 자동차 수 구하기)
# 문제
# CAR_RENTAL_COMPANY_CAR 테이블에서 '통풍시트', '열선시트', '가죽시트' 중 하나 이상의 옵션이 포함된 자동차가 자동차 종류 별로 몇 대인지 출력하는 SQL문을 작성해주세요. 이때 자동차 수에 대한 컬럼명은 CARS로 지정하고, 결과는 자동차 종류를 기준으로 오름차순 정렬해주세요.

# 예시
# 예를 들어 CAR_RENTAL_COMPANY_CAR 테이블이 다음과 같다면

# CAR_ID	CAR_TYPE	DAILY_FEE	OPTIONS
# 1	세단	16000	가죽시트,열선시트,후방카메라
# 2	SUV	14000	스마트키,네비게이션,열선시트
# 3	SUV	22000	주차감지센서,후방카메라
# 4	트럭	35000	주차감지센서,네비게이션,열선시트
# 5	SUV	16000	가죽시트,네비게이션,열선시트,후방카메라,주차감지센서
# '통풍시트', '열선시트', '가죽시트' 중 하나 이상의 옵션이 포함된 자동차는 자동차 ID가 1, 2, 4, 5인 자동차이고, 자동차 종류 별로 몇 대인지 구하고 자동차 종류를 기준으로 오름차순 정렬하면 다음과 같은 결과가 나와야 합니다.

# CAR_TYPE	CARS
# SUV	2
# 세단	1
# 트럭	1

In [ ]:
# sol1
SELECT CAR_TYPE, COUNT(CAR_ID) AS CARS
FROM CAR_RENTAL_COMPANY_CAR
WHERE OPTIONS LIKE '%통풍시트%' OR OPTIONS LIKE '%열선시트%' OR OPTIONS LIKE '%가죽시트%'
GROUP BY CAR_TYPE
ORDER BY CAR_TYPE;

In [ ]:
# sol2(REGEXP 메서드 사용)
# 문자열이 정규 표현식에 일치하면 TRUE, 그렇지 않으면 FALSE를 반환
# 즉, OPTIONS 컬럼의 값이 '통풍시트' 또는 '열선시트' 또는 '가죽시트' 중 하나라도 포함되어 있다면 TRUE를 반환합
SELECT CAR_TYPE, COUNT(*) AS CARS
FROM CAR_RENTAL_COMPANY_CAR
WHERE OPTIONS REGEXP '통풍시트|열선시트|가죽시트'
GROUP BY CAR_TYPE
ORDER BY CAR_TYPE;