In [ ]:
# 문제 설명(조건에 맞는 아이템들의 가격의 총합 구하기)
# 문제
# ITEM_INFO 테이블에서 희귀도가 'LEGEND'인 아이템들의 가격의 총합을 구하는 SQL문을 작성해 주세요. 이때 컬럼명은 'TOTAL_PRICE'로 지정해 주세요.

# 예시
# 예를 들어 ITEM_INFO 테이블이 다음과 같다면

# ITEM_ID	ITEM_NAME	RARITY	PRICE
# 0	ITEM_A	COMMON	10000
# 1	ITEM_B	LEGEND	9000
# 2	ITEM_C	LEGEND	11000
# 3	ITEM_D	UNIQUE	10000
# 4	ITEM_E	LEGEND	12000
# 조건에 해당되는 아이템의 아이템 ID는 1, 2, 4이며 각 아이템들의 가격은 9000, 11000, 12000 이므로 조건에 해당되는 아이템들의 가격의 합은 다음과 같습니다.

# TOTAL_PRICE
# 32000

In [ ]:
SELECT SUM(PRICE) AS TOTAL_PRICE
FROM ITEM_INFO
WHERE RARITY = 'LEGEND';

In [ ]:
# 문제
# ROOT 아이템을 찾아 아이템 ID(ITEM_ID), 아이템 명(ITEM_NAME)을 출력하는 SQL문을 작성해 주세요. 이때, 결과는 아이템 ID를 기준으로 오름차순 정렬해 주세요.

# 예시
# 예를 들어 ITEM_INFO 테이블이 다음과 같고

# ITEM_ID	ITEM_NAME	RARITY	PRICE
# 0	ITEM_A	COMMON	10000
# 1	ITEM_B	LEGEND	9000
# 2	ITEM_C	LEGEND	11000
# 3	ITEM_D	UNIQUE	10000
# 4	ITEM_E	LEGEND	12000
# ITEM_TREE 테이블이 다음과 같다면

# ITEM_ID	PARENT_ITEM_ID
# 0	NULL
# 1	0
# 2	0
# 3	NULL
# 4	3
# ROOT 아이템의 아이템 ID는 PARENT 아이템 ID(PARENT_ITEM_ID)가 NULL 인 0, 3 이므로 SQL문을 실행하면 다음과 같은 결과가 나와야 합니다.

# ITEM_ID	ITEM_NAME
# 0	ITEM_A
# 3	ITEM_D

In [ ]:
SELECT A.ITEM_ID AS ITEM_ID, A.ITEM_NAME AS ITEM_NAME
FROM ITEM_INFO A
INNER JOIN ITEM_TREE B
ON A.ITEM_ID = B.ITEM_ID
WHERE B.PARENT_ITEM_ID IS NULL
ORDER BY ITEM_ID;

In [ ]:
# 문제 설명(업그레이드 된 아이템 구하기)
# 문제
# 아이템의 희귀도가 'RARE'인 아이템들의 모든 다음 업그레이드 아이템의 아이템 ID(ITEM_ID), 아이템 명(ITEM_NAME), 아이템의 희귀도(RARITY)를 출력하는 SQL 문을 작성해 주세요. 이때 결과는 아이템 ID를 기준으로 내림차순 정렬주세요.

# 예시
# 예를 들어 ITEM_INFO 테이블이 다음과 같고

# ITEM_ID	ITEM_NAME	RARITY	PRICE
# 0	ITEM_A	RARE	10000
# 1	ITEM_B	RARE	9000
# 2	ITEM_C	LEGEND	11000
# 3	ITEM_D	RARE	10000
# 4	ITEM_E	RARE	12000
# ITEM_TREE 테이블이 다음과 같다면

# ITEM_ID	PARENT_ITEM_ID
# 0	NULL
# 1	0
# 2	0
# 3	1
# 4	1
# 아이템의 희귀도가 'RARE'인 아이템은 'ITEM_A', 'ITEM_B', 'ITEM_D', 'ITEM_E' 입니다.
# 이 중 'ITEM_A' 는 'ITEM_B', 'ITEM_C' 로 업그레이드가 가능하며 'ITEM_B' 는 'ITEM_D' , 'ITEM_E' 로 업그레이드가 가능합니다. 'ITEM_D' 와 'ITEM_E'는 더 이상 업그레이드가 가능하지 않습니다. 따라서 결과는 다음과 같이 나와야 합니다.

# ITEM_ID	ITEM_NAME	RARITY
# 4	ITEM_E	RARE
# 3	ITEM_D	RARE
# 2	ITEM_C	LEGEND
# 1	ITEM_B	RARE

In [ ]:
# 서브쿼리 활용
SELECT A.ITEM_ID, A.ITEM_NAME, A.RARITY
FROM ITEM_INFO A
INNER JOIN ITEM_TREE B
ON A.ITEM_ID = B.ITEM_ID
WHERE B.PARENT_ITEM_ID IN(
    SELECT ITEM_ID
    FROM ITEM_INFO
    WHERE RARITY = 'RARE'
    )
ORDER BY B.ITEM_ID DESC

In [ ]:
# 문제 설명(업그레이드 할 수 없는 아이템 구하기)
# 문제
# 더 이상 업그레이드할 수 없는 아이템의 아이템 ID(ITEM_ID), 아이템 명(ITEM_NAME), 아이템의 희귀도(RARITY)를 출력하는 SQL 문을 작성해 주세요. 이때 결과는 아이템 ID를 기준으로 내림차순 정렬해 주세요.

# 예시
# 예를 들어 ITEM_INFO 테이블이 다음과 같고

# ITEM_ID	ITEM_NAME	RARITY	PRICE
# 0	ITEM_A	RARE	10000
# 1	ITEM_B	RARE	9000
# 2	ITEM_C	LEGEND	11000
# 3	ITEM_D	RARE	10000
# 4	ITEM_E	RARE	12000
# ITEM_TREE 테이블이 다음과 같다면

# ITEM_ID	PARENT_ITEM_ID
# 0	NULL
# 1	0
# 2	0
# 3	1
# 4	1
# 'ITEM_A' 는 'ITEM_B', 'ITEM_C' 로 업그레이드가 가능하며 'ITEM_B' 는 'ITEM_D', 'ITEM_E' 로 업그레이드가 가능합니다. 'ITEM_C', 'ITEM_D', 'ITEM_E' 는 더 이상 업그레이드가 가능하지 않으므로 결과는 다음과 같이 나와야 합니다.

# ITEM_ID	ITEM_NAME	RARITY
# 4	ITEM_E	RARE
# 3	ITEM_D	RARE
# 2	ITEM_C	LEGEND

In [ ]:
# sol1
# 서브쿼리
SELECT ITEM_ID, ITEM_NAME, RARITY
FROM ITEM_INFO
WHERE ITEM_ID NOT IN (SELECT PARENT_ITEM_ID
                     FROM ITEM_TREE WHERE NOT ISNULL(PARENT_ITEM_ID))
ORDER BY ITEM_ID DESC;

In [ ]:
# sol2
# 서브쿼리, EXISTS 사용
SELECT ITEM_ID, ITEM_NAME, RARITY
FROM ITEM_INFO A
WHERE NOT EXISTS (SELECT
                  * FROM ITEM_TREE B
                 WHERE B.PARENT_ITEM_ID = A.ITEM_ID)
ORDER BY ITEM_ID DESC;