In [ ]:
# 문제 설명(약수의 갯수와 덧셈)
# 두 정수 left와 right가 매개변수로 주어집니다. left부터 right까지의 모든 수들 중에서, 약수의 개수가 짝수인 수는 더하고, 약수의 개수가 홀수인 수는 뺀 수를 return 하도록 solution 함수를 완성해주세요.

# 제한사항
# 1 ≤ left ≤ right ≤ 1,000
# 입출력 예
# left	right	result
# 13	17	43
# 24	27	52

In [ ]:
# 문제 요약
# 어떤 수의 약수 개수가 홀수인 경우는 그 수가 "제곱수"일 때만 가능
# 예를 들어:
# 4의 약수: 1, 2, 4 → 총 3개 (홀수)
# 9의 약수: 1, 3, 9 → 총 3개 (홀수)
# 그 외의 숫자는 약수가 항상 짝수 개로 쌍을 이룹니다.

In [ ]:
# sol1
def solution(left, right):
    answer = 0
    # left부터 right까지 1씩 증가하는 for문
    for i in range(left, right + 1):
        # 약수의 개수를 담기 위한 변수
        now_count = 0
        # 1부터 i까지 증가하며 약수를 찾아냄
        for j in range(1, i + 1):
            # 나누어 떨어지는 수는 약수
            if i % j == 0:
                now_count += 1
                
        # 이제 개수가 홀수인지 짝수이지 판별
        if now_count % 2 == 0:
            answer += i
        else:
            answer -= i

    return answer

In [ ]:
# sol2
def solution(left, right):
    answer = 0
    for i in range(left, right + 1):
        # c = 약수의 개수, j = 약수
        c, j = 0, 1
        # 약수의 개수를 구하는 과정
        while j <= i:
            if i % j == 0:
                c += 1
            j += 1
            
        if c % 2 == 0:
            answer += i
        else:
            answer -= i
            
    return answer

In [ ]:
# sol3
def solution(left, right):
    answer = 0
    for i in range(left,right+1):
        # i ** 0.5는 i의 제곱근이고, 이것이 정수이면 제곱수
        if int(i**0.5)==i**0.5:
            answer -= i
        else:
            answer += i
    return answer

In [ ]:
# 문제 설명(숫자 문자열과 영단어)

# 네오와 프로도가 숫자놀이를 하고 있습니다. 네오가 프로도에게 숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.
# 다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

# 1478 → "one4seveneight"
# 234567 → "23four5six7"
# 10203 → "1zerotwozero3"
# 이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나, 혹은 바뀌지 않고 그대로인 문자열 s가 매개변수로 주어집니다. s가 의미하는 원래 숫자를 return 하도록 solution 함수를 완성해주세요.

# 참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

# 숫자	영단어
# 0	zero
# 1	one
# 2	two
# 3	three
# 4	four
# 5	five
# 6	six
# 7	seven
# 8	eight
# 9	nine
# 제한사항
# 1 ≤ s의 길이 ≤ 50
# s가 "zero" 또는 "0"으로 시작하는 경우는 주어지지 않습니다.
# return 값이 1 이상 2,000,000,000 이하의 정수가 되는 올바른 입력만 s로 주어집니다.

In [ ]:
# 문제 요약
# 문자열 s에는 숫자 (0~9)와 영단어 (zero ~ nine)가 섞여 있을 수 있고,
# 이를 숫자로 변환한 정수로 리턴

In [ ]:
# enumerate(): 반복 가능한 객체(iterable)에서 인덱스와 값을 동시에 얻을 수 있게 해주는 내장 함수
# 예시
# fruits = ['apple', 'banana', 'cherry']

# for i, fruit in enumerate(fruits):
#     print(i, fruit)
# 결과
# 0 apple
# 1 banana
# 2 cherry

In [ ]:
# items(): 딕셔너리의 키와 값을 쌍으로 반환하는 메서드
# 반복문에서 딕셔너리의 key-value 쌍을 동시에 다루고 싶을 때 사용
# 예시
# person = {'name': 'Alice', 'age': 25, 'job': 'developer'}

# for key, value in person.items():
#     print(f"{key}: {value}")
# 결과
# name: Alice
# age: 25
# job: developer

In [ ]:
# sol1
def solution(s):
    dic = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
    # enumerate(nums)를 이용해 i는 숫자(0~9), j는 해당하는 영단어
    # enumerate로 숫자와 영단어 매핑 처리
    for i, j in enumerate(dic):
        s = s.replace(j, str(i))
    return int(s)

In [ ]:
# sol2
num_dic = {"zero":"0", "one":"1", "two":"2", "three":"3", "four":"4",
           "five":"5", "six":"6", "seven":"7", "eight":"8", "nine":"9"}

def solution(s):
    answer = s
    # 문자열 answer에서 key(영단어)를 value(숫자 문자열)로 바꿈
    for key, value in num_dic.items():
        answer = answer.replace(key, value)
    return int(answer)

In [ ]:
# 문제 설명: 조건에 맞는 사용자 정보 조회하기
# 문제
# USED_GOODS_BOARD와 USED_GOODS_USER 테이블에서 중고 거래 게시물을 3건 이상 등록한 사용자의 사용자 ID, 닉네임, 전체주소, 전화번호를 조회하는 SQL문을 작성해주세요. 이때, 전체 주소는 시, 도로명 주소, 상세 주소가 함께 출력되도록 해주시고, 전화번호의 경우 xxx-xxxx-xxxx 같은 형태로 하이픈 문자열(-)을 삽입하여 출력해주세요. 결과는 회원 ID를 기준으로 내림차순 정렬해주세요.

# 예시
# USED_GOODS_BOARD 테이블이 다음과 같고

# BOARD_ID	WRITER_ID	TITLE	CONTENTS	PRICE	CREATED_DATE	STATUS	VIEWS
# B0001	dhfkzmf09	칼라거펠트 코트	양모 70%이상 코트입니다.	120000	2022-10-14	DONE	104
# B0002	lee871201	국내산 볶음참깨	직접 농사지은 참깨입니다.	3000	2022-10-02	DONE	121
# B0003	dhfkzmf09	나이키 숏패팅	사이즈는 M입니다.	40000	2022-10-17	DONE	98
# B0004	kwag98	반려견 배변패드 팝니다	정말 저렴히 판매합니다. 전부 미개봉 새상품입니다.	12000	2022-10-01	DONE	250
# B0005	dhfkzmf09	PS4	PS5 구매로인해 팝니다.	250000	2022-11-03	DONE	111
# USED_GOODS_USER 테이블이 다음과 같을 때

# USER_ID	NICKNAME	CITY	STREET_ADDRESS1	STREET_ADDRESS2	TLNO
# dhfkzmf09	찐찐	성남시	분당구 수내로 13	A동 1107호	01053422914
# dlPcks90	썹썹	성남시	분당구 수내로 74	401호	01034573944
# cjfwls91	점심만금식	성남시	분당구 내정로 185	501호	01036344964
# dlfghks94	희망	성남시	분당구 내정로 101	203동 102호	01032634154
# rkdhs95	용기	성남시	분당구 수내로 23	501호	01074564564
# SQL을 실행하면 다음과 같이 출력되어야 합니다.

# USER_ID	NICKNAME	전체주소	전화번호
# dhfkzmf09	찐찐	성남시 분당구 수내로 13 A동 1107호	010-5342-2914

In [ ]:
# concat와 substring 활용
SELECT A.USER_ID AS USER_ID, A.NICKNAME AS NICKNAME,
CONCAT(A.CITY, ' ', A.STREET_ADDRESS1, ' ', A.STREET_ADDRESS2) AS 전체주소,
CONCAT(SUBSTRING(A.TLNO, 1, 3), '-', SUBSTRING(A.TLNO, 4, 4), '-', SUBSTRING(A.TLNO, 8, 4)) AS 전화번호
FROM USED_GOODS_USER A
INNER JOIN USED_GOODS_BOARD B
ON A.USER_ID = B.WRITER_ID
GROUP BY USER_ID HAVING COUNT(B.BOARD_ID) >= 3
ORDER BY USER_ID DESC;

In [ ]:
# 문제 설명(조회수가 가장 많은 중고거래 게시판의 첨부파일 조회하기)
# 문제
# USED_GOODS_BOARD와 USED_GOODS_FILE 테이블에서 조회수가 가장 높은 중고거래 게시물에 대한 첨부파일 경로를 조회하는 SQL문을 작성해주세요. 첨부파일 경로는 FILE ID를 기준으로 내림차순 정렬해주세요. 기본적인 파일경로는 /home/grep/src/ 이며, 게시글 ID를 기준으로 디렉토리가 구분되고, 파일이름은 파일 ID, 파일 이름, 파일 확장자로 구성되도록 출력해주세요. 조회수가 가장 높은 게시물은 하나만 존재합니다.

# 예시
# USED_GOODS_BOARD 테이블이 다음과 같고

# BOARD_ID	WRITER_ID	TITLE	CONTENTS	PRICE	CREATED_DATE	STATUS	VIEWS
# B0001	kwag98	반려견 배변패드 팝니다	정말 저렴히 판매합니다. 전부 미개봉 새상품입니다.	12000	2022-10-01	DONE	250
# B0002	lee871201	국내산 볶음참깨	직접 농사지은 참깨입니다.	3000	2022-10-02	DONE	121
# B0003	goung12	배드민턴 라켓	사놓고 방치만 해서 팝니다.	9000	2022-10-02	SALE	212
# B0004	keel1990	디올 귀걸이	신세계강남점에서 구입. 정품 아닐시 백퍼센트 환불	130000	2022-10-02	SALE	199
# B0005	haphli01	스팸클래식 팔아요	유통기한 2025년까지에요	10000	2022-10-02	SALE	121
# USED_GOODS_FILE 테이블이 다음과 같을 때

# FILE_ID	FILE_EXT	FILE_NAME	BOARD_ID
# IMG_000001	.jpg	photo1	B0001
# IMG_000002	.jpg	photo2	B0001
# IMG_000003	.png	사진	B0002
# IMG_000004	.jpg	사진	B0003
# IMG_000005	.jpg	photo	B0004
# SQL을 실행하면 다음과 같이 출력되어야 합니다.

# FILE_PATH
# /home/grep/src/B0001/IMG_000001photo1.jpg
# /home/grep/src/B0001/IMG_000002photo2.jpg

In [ ]:
SELECT CONCAT('/home/grep/src/', A.BOARD_ID, '/', B.FILE_ID,B.FILE_NAME, B.FILE_EXT) AS FILE_PATH
FROM USED_GOODS_BOARD A
LEFT JOIN USED_GOODS_FILE B
ON A.BOARD_ID = B.BOARD_ID
# 서브쿼리 사용
WHERE VIEWS = (SELECT MAX(VIEWS) FROM USED_GOODS_BOARD)
ORDER BY B.FILE_ID DESC;

In [ ]:
문제 설명(조건에 부합하는 중고거래 상태 조회하기)
문제
USED_GOODS_BOARD 테이블에서 2022년 10월 5일에 등록된 중고거래 게시물의 게시글 ID, 작성자 ID, 게시글 제목, 가격, 거래상태를 조회하는 SQL문을 작성해주세요. 거래상태가 SALE 이면 판매중, RESERVED이면 예약중, DONE이면 거래완료 분류하여 출력해주시고, 결과는 게시글 ID를 기준으로 내림차순 정렬해주세요.

예시
USED_GOODS_BOARD 테이블이 다음과 같을 때

BOARD_ID	WRITER_ID	TITLE	CONTENTS	PRICE	CREATED_DATE	STATUS	VIEWS
B0007	s2s2123	커피글라인더	새상품처럼 깨끗합니다.	7000	2022-10-04	DONE	210
B0008	hong02	자전거 판매합니다	출퇴근용으로 구매했다가 사용하지 않아서 내놔요	40000	2022-10-04	SALE	301
B0009	yawoong67	선반 팝니다	6단 선반. 환불 반품 안됩니다.	12000	2022-10-05	DONE	202
B0010	keel1990	철제선반5단	철제선반 5단 조립식 팜	10000	2022-10-05	SALE	194
SQL을 실행하면 다음과 같이 출력되어야 합니다.

BOARD_ID	WRITER_ID	TITLE	PRICE	STATUS
B0010	keel1990	철제선반5단	10000	판매중
B0009	yawoong67	선반 팝니다	12000	거래완료

In [ ]:
SELECT BOARD_ID, WRITER_ID, TITLE, PRICE,
CASE STATUS
    WHEN 'SALE' THEN '판매중'
    WHEN 'RESERVED' THEN '예약중'
    WHEN 'DONE' THEN '거래완료'
END AS STATUS
FROM USED_GOODS_BOARD
WHERE CREATED_DATE = '2022-10-05'
ORDER BY BOARD_ID DESC;