# 데이터마님

In [1]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

## 현대 차량 가격 분류문제 데이터

In [2]:
# 데이터 불러오기
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv')
df.head()

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7

* 정보(row수)가 가장 많은 상위 3차종의 price값의 각 평균값은?

In [3]:
answer = df.loc[df['model'].isin(df['model'].value_counts().index[:3])].groupby('model')\
['price'].mean().to_frame()
display(answer)

                price
model
 I10      7646.137891
 I30     11651.821759
 Tucson  15805.441373

## 당뇨여부판단 데이터

* Outcome 값에 따른 각 그룹의 각 컬럼의 평균 차이를 구하여라

In [4]:
# 데이터 불러오기
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,102,74,0,0,29.5,0.121,32,0
1,2,144,58,33,135,31.6,0.422,25,1
2,5,136,82,0,0,0.0,0.640,69,0
3,13,145,82,19,110,22.2,0.245,57,0
4,1,117,60,23,106,33.8,0.466,27,0

In [5]:
answer = df.groupby('Outcome').mean().diff().iloc[1, :]
print(answer)

Pregnancies                  1.574159
Glucose                     29.943995
BloodPressure                3.202079
SkinThickness                2.952033
Insulin                     33.398645
BMI                          4.541437
DiabetesPedigreeFunction     0.143646
Age                          5.866939
Name: 1, dtype: float64

## 넷플릭스 주식 데이터

In [6]:
# 데이터 불러오기
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv')
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

* 매년 5월달의 open가격의 평균값을 데이터 프레임으로 표현하라

In [7]:
df['Date'] = pd.to_datetime(df['Date'])

target = df.groupby(df['Date'].dt.strftime('%Y-%m-%d')).mean()
answer = target.loc[target.index.str.contains('-05')].Open
print(answer)

Date
2002-05-23      1.156429
2002-05-24      1.214286
2002-05-28      1.213571
2002-05-29      1.164286
2002-05-30      1.107857
                 ...
2021-05-25    506.000000
2021-05-26    502.339996
2021-05-27    501.799988
2021-05-28    504.399994
2021-08-05    517.130005
Name: Open, Length: 551, dtype: float64

## NBA 선수 능력치 데이터

In [8]:
# 데이터 불러오기
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv", encoding = 'latin', sep = ';')
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

* Tm 컬럼은 각 팀의 이름을 의미한다. TOR팀의 평균나이를 소수 4째 자리까지 구하여라

In [9]:
result = round(df[df['Tm'] == 'TOR']['Age'].mean(), 4)
print(result)

24.8696

* Pos 컬럼은 포지션을 의미한다. 전체 선수 중 최소나이대의 선수들을 필터하고 그들 중 가장 많은 포지션은 무엇인지 확인하라

In [10]:
result = df[df['Age'] == df['Age'].min()]['Pos'].value_counts().index[0]
print(result)

SG

* 선수들의 이름은 first_name+ 공백 + last_name으로 이루어져 있다. 가장 많은 first_name은 무엇이며 몇 회 발생하는지 확인하라

In [11]:
result = df['Player'].str.split().str[0].str.lower().value_counts().head(1)
print(result)

Player
justin    14
Name: count, dtype: int64

* PTS컬럼은 경기당 평균득점수 이다. 각포지션별로 경기당 평균득점수의 평균을 구하여라

In [12]:
result = df.groupby('Pos')['PTS'].mean().sort_values()
print(result)

Pos
SF        7.270253
SG-SF     7.360000
C         7.690769
PF        7.737500
SG        7.810553
PG        8.325161
PF-SF     8.500000
SF-SG     8.660000
SG-PG     9.525000
C-PF     12.850000
PG-SG    22.000000
Name: PTS, dtype: float64

* G컬럼은 참여한 경기의 숫자이다. 각 팀별로 가장 높은 경기참여 수를 가진 선수들의 경기 참여 숫자의 평균을 구하여라

In [13]:
result = df.sort_values(['Tm', 'G']).groupby('Tm').tail(1)['G'].mean()
print(result)

77.51612903225806

* Tm의 값이 MIA이며 Pos는 C또는 PF인 선수의 MP값의 평균은?

In [14]:
result = df[(df['Tm'] == 'MIA') & (df['Pos'].isin(['C', 'PF']))]['MP'].mean()
print(result)

16.7875

* 전체 데이터중 G의 평균값의 1.5배 이상인 데이터들만 추출했을때 3P값의 평균은?

In [15]:
result = df[df['G'] >= df['G'].mean() * 1.5]['3P'].mean()
print(result)

1.3853658536585365

* Age의 평균 이상인 그룹과 평균 미만인 그룹간의 G값의 평균의 차이는?

In [16]:
result = df[df['Age'] >= df['Age'].mean()]['G'].mean() - df[df['Age'] < df['Age'].mean()]['G'].mean()
print(result)

3.787674551781862

* 평균나이가 가장 젊은 팀은 어디인가

In [17]:
result = df.groupby('Tm')['Age'].mean().sort_values().index[0]
print(result)

MEM

* Pos그룹별 평균 MP값을 구하여라

In [18]:
result = df.groupby('Pos')['MP'].mean()
print(result)

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64