In [ ]:
# 문제 설명(x만큼 간격이 있는 n개의 숫자)
# 함수 solution은 정수 x와 자연수 n을 입력 받아, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 리턴해야 합니다. 다음 제한 조건을 보고, 조건을 만족하는 함수, solution을 완성해주세요.

# 제한 조건
# x는 -10000000 이상, 10000000 이하인 정수입니다.
# n은 1000 이하인 자연수입니다.

In [ ]:
# sol1
def solution(x, n):
    answer = []
    # i=1부터 n까지 반복 실행
    for i in range(1, n + 1):
        # answer 마지막에 x*i 삽입
        answer.append(x*i)
    return answer

In [ ]:
# sol2
def solution(x, n):
    return [x*i for i in range(1, n + 1)]

In [ ]:
# sol3
def solution(x, n):
    return [i*x + x for i in range(n)]

In [ ]:
# 문제 설명
# 이 문제에는 표준 입력으로 두 개의 정수 n과 m이 주어집니다.
# 별(*) 문자를 이용해 가로의 길이가 n, 세로의 길이가 m인 직사각형 형태를 출력해보세요.

# 제한 조건
# n과 m은 각각 1000 이하인 자연수입니다.

In [ ]:
# sol1
a, b = map(int, input().strip().split(' '))

for i in range(b):
    print('*'*a)

In [ ]:
# sol2
a, b = map(int, input().strip().split(' '))
answer = ('*'*a + '\n')*b
print(answer)

In [ ]:
a, b = map(int, input().strip().split(' '))

for i in range(b):
    for j in range(a):
        print('*', end = '')
    print('')

In [ ]:
# 문제 설명(모든 레코드 조회하기)
# ANIMAL_INS 테이블은 동물 보호소에 들어온 동물의 정보를 담은 테이블입니다. ANIMAL_INS 테이블 구조는 다음과 같으며, ANIMAL_ID, ANIMAL_TYPE, DATETIME, INTAKE_CONDITION, NAME, SEX_UPON_INTAKE는 각각 동물의 아이디, 생물 종, 보호 시작일, 보호 시작 시 상태, 이름, 성별 및 중성화 여부를 나타냅니다.

# NAME	TYPE	NULLABLE
# ANIMAL_ID	VARCHAR(N)	FALSE
# ANIMAL_TYPE	VARCHAR(N)	FALSE
# DATETIME	DATETIME	FALSE
# INTAKE_CONDITION	VARCHAR(N)	FALSE
# NAME	VARCHAR(N)	TRUE
# SEX_UPON_INTAKE	VARCHAR(N)	FALSE
# 동물 보호소에 들어온 모든 동물의 정보를 ANIMAL_ID순으로 조회하는 SQL문을 작성해주세요. SQL을 실행하면 다음과 같이 출력되어야 합니다.

# ANIMAL_ID	ANIMAL_TYPE	DATETIME	INTAKE_CONDITION	NAME	SEX_UPON_INTAKE
# A349996	Cat	2018-01-22 14:32:00	Normal	Sugar	Neutered Male
# A350276	Cat	2017-08-13 13:50:00	Normal	Jewel	Spayed Female
# A350375	Cat	2017-03-06 15:01:00	Normal	Meo	Neutered Male
# A352555	Dog	2014-08-08 04:20:00	Normal	Harley	Spayed Female

In [ ]:
SELECT * from ANIMAL_INS 
GROUP BY ANIMAL_ID
ORDER BY ANIMAL_ID;

In [ ]:
# 문제 설명(역순 정렬하기)
# ANIMAL_INS 테이블은 동물 보호소에 들어온 동물의 정보를 담은 테이블입니다. ANIMAL_INS 테이블 구조는 다음과 같으며, ANIMAL_ID, ANIMAL_TYPE, DATETIME, INTAKE_CONDITION, NAME, SEX_UPON_INTAKE는 각각 동물의 아이디, 생물 종, 보호 시작일, 보호 시작 시 상태, 이름, 성별 및 중성화 여부를 나타냅니다.

# NAME	TYPE	NULLABLE
# ANIMAL_ID	VARCHAR(N)	FALSE
# ANIMAL_TYPE	VARCHAR(N)	FALSE
# DATETIME	DATETIME	FALSE
# INTAKE_CONDITION	VARCHAR(N)	FALSE
# NAME	VARCHAR(N)	TRUE
# SEX_UPON_INTAKE	VARCHAR(N)	FALSE
# 동물 보호소에 들어온 모든 동물의 이름과 보호 시작일을 조회하는 SQL문을 작성해주세요. 이때 결과는 ANIMAL_ID 역순으로 보여주세요. SQL을 실행하면 다음과 같이 출력되어야 합니다.

# NAME	DATETIME
# Rocky	2016-06-07 09:17:00
# Shelly	2015-01-29 15:01:00
# Benji	2016-04-19 13:28:00
# Jackie	2016-01-03 16:25:00
# *Sam	2016-03-13 11:17:00

In [ ]:
SELECT NAME, DATETIME FROM ANIMAL_INS
ORDER BY ANIMAL_ID DESC;

In [ ]:
# 문제 설명(아픈 동물 찾기)
# ANIMAL_INS 테이블은 동물 보호소에 들어온 동물의 정보를 담은 테이블입니다. ANIMAL_INS 테이블 구조는 다음과 같으며, ANIMAL_ID, ANIMAL_TYPE, DATETIME, INTAKE_CONDITION, NAME, SEX_UPON_INTAKE는 각각 동물의 아이디, 생물 종, 보호 시작일, 보호 시작 시 상태, 이름, 성별 및 중성화 여부를 나타냅니다.

# NAME	TYPE	NULLABLE
# ANIMAL_ID	VARCHAR(N)	FALSE
# ANIMAL_TYPE	VARCHAR(N)	FALSE
# DATETIME	DATETIME	FALSE
# INTAKE_CONDITION	VARCHAR(N)	FALSE
# NAME	VARCHAR(N)	TRUE
# SEX_UPON_INTAKE	VARCHAR(N)	FALSE
# 동물 보호소에 들어온 동물 중 아픈 동물1의 아이디와 이름을 조회하는 SQL 문을 작성해주세요. 이때 결과는 아이디 순으로 조회해주세요.

# 예시
# 예를 들어 ANIMAL_INS 테이블이 다음과 같다면

# ANIMAL_ID	ANIMAL_TYPE	DATETIME	INTAKE_CONDITION	NAME	SEX_UPON_INTAKE
# A365172	Dog	2014-08-26 12:53:00	Normal	Diablo	Neutered Male
# A367012	Dog	2015-09-16 09:06:00	Sick	Miller	Neutered Male
# A365302	Dog	2017-01-08 16:34:00	Aged	Minnie	Spayed Female
# A381217	Dog	2017-07-08 09:41:00	Sick	Cherokee	Neutered Male
# 이 중 아픈 동물은 Miller와 Cherokee입니다. 따라서 SQL문을 실행하면 다음과 같이 나와야 합니다.

# ANIMAL_ID	NAME
# A367012	Miller
# A381217	Cherokee

In [ ]:
SELECT ANIMAL_ID, NAME FROM ANIMAL_INS
WHERE INTAKE_CONDITION = 'Sick';

In [ ]:
# 문제 설명(어린 동물 찾기)
# ANIMAL_INS 테이블은 동물 보호소에 들어온 동물의 정보를 담은 테이블입니다. ANIMAL_INS 테이블 구조는 다음과 같으며, ANIMAL_ID, ANIMAL_TYPE, DATETIME, INTAKE_CONDITION, NAME, SEX_UPON_INTAKE는 각각 동물의 아이디, 생물 종, 보호 시작일, 보호 시작 시 상태, 이름, 성별 및 중성화 여부를 나타냅니다.

# NAME	TYPE	NULLABLE
# ANIMAL_ID	VARCHAR(N)	FALSE
# ANIMAL_TYPE	VARCHAR(N)	FALSE
# DATETIME	DATETIME	FALSE
# INTAKE_CONDITION	VARCHAR(N)	FALSE
# NAME	VARCHAR(N)	TRUE
# SEX_UPON_INTAKE	VARCHAR(N)	FALSE
# 동물 보호소에 들어온 동물 중 젊은 동물1의 아이디와 이름을 조회하는 SQL 문을 작성해주세요. 이때 결과는 아이디 순으로 조회해주세요.

# 예시
# 예를 들어 ANIMAL_INS 테이블이 다음과 같다면

# ANIMAL_ID	ANIMAL_TYPE	DATETIME	INTAKE_CONDITION	NAME	SEX_UPON_INTAKE
# A365172	Dog	2014-08-26 12:53:00	Normal	Diablo	Neutered Male
# A367012	Dog	2015-09-16 09:06:00	Sick	Miller	Neutered Male
# A365302	Dog	2017-01-08 16:34:00	Aged	Minnie	Spayed Female
# A381217	Dog	2017-07-08 09:41:00	Sick	Cherokee	Neutered Male
# 이 중 젊은 동물은 Diablo, Miller, Cherokee입니다. 따라서 SQL문을 실행하면 다음과 같이 나와야 합니다.

# ANIMAL_ID	NAME
# A365172	Diablo
# A367012	Miller
# A381217	Cherokee

In [ ]:
SELECT ANIMAL_ID, NAME FROM ANIMAL_INS
WHERE INTAKE_CONDITION != 'Aged';

In [ ]:
# 문제 설명(이름이 없는 동물의 아이디)
# ANIMAL_INS 테이블은 동물 보호소에 들어온 동물의 정보를 담은 테이블입니다. ANIMAL_INS 테이블 구조는 다음과 같으며, ANIMAL_ID, ANIMAL_TYPE, DATETIME, INTAKE_CONDITION, NAME, SEX_UPON_INTAKE는 각각 동물의 아이디, 생물 종, 보호 시작일, 보호 시작 시 상태, 이름, 성별 및 중성화 여부를 나타냅니다.

# NAME	TYPE	NULLABLE
# ANIMAL_ID	VARCHAR(N)	FALSE
# ANIMAL_TYPE	VARCHAR(N)	FALSE
# DATETIME	DATETIME	FALSE
# INTAKE_CONDITION	VARCHAR(N)	FALSE
# NAME	VARCHAR(N)	TRUE
# SEX_UPON_INTAKE	VARCHAR(N)	FALSE
# 동물 보호소에 들어온 동물 중, 이름이 없는 채로 들어온 동물의 ID를 조회하는 SQL 문을 작성해주세요. 단, ID는 오름차순 정렬되어야 합니다.

# 예시
# 예를 들어 ANIMAL_INS 테이블이 다음과 같다면

# ANIMAL_ID	ANIMAL_TYPE	DATETIME	INTAKE_CONDITION	NAME	SEX_UPON_INTAKE
# A368930	Dog	2014-06-08 13:20:00	Normal	NULL	Spayed Female
# A524634	Dog	2015-01-02 18:54:00	Normal	*Belle	Intact Female
# A465637	Dog	2017-06-04 08:17:00	Injured	*Commander	Neutered Male
# 이름이 없는 채로 들어온 동물의 ID는 A368930입니다. 따라서 SQL을 실행하면 다음과 같이 출력되어야 합니다.

# ANIMAL_ID
# A368930

In [ ]:
SELECT ANIMAL_ID FROM ANIMAL_INS
WHERE NAME IS NULL;